@import "./reset.scss";
@import "./media.scss";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.font-sm {
  font-size: 14px;
}
.p-top-7 {
  padding-top: 7rem;
}

// header

.header {
  background: #062541;
  padding: 0.7rem 0;
  width: 100%;
  top: 0;
  h1 {
    font-size: 24px;
  }
}

//dashboard
.movie-list-container {
  padding-top: 4rem;
  .single-movie {
    width: 20%;
    margin: 0 auto;
  }
  img {
    width: 100%;
    box-shadow: 0rem 2rem 5rem rgba($color: #000000, $alpha: 0.3);
  }
  .movie-poser {
    border-radius: 0.25rem;
  }
  .single-movie:hover {
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background: #546e7a;
    color: #ffffff !important;
  }
}

// single-movie-poster

.single-movie-poster {
  max-width: 400px;
  width: 400px;
  height: 450px;
}
.single-movie-poster img {
  height: 100%;
  border-radius: 0.5rem;
}

.title-lg {
  font-size: 1.8rem;
  font-weight: 300;
}
.movie-tagline {
  font-size: 1.2rem;
  font-weight: 300;
}

// cast
.cast-container {
  width: 700px;
  overflow-x: scroll;
  .profile-img {
    min-width: 140px;
    width: 140px;
  }
  img {
    width: 100%;
  }
}
.cast-name {
  font-size: 1.1rem;
  color: #000000;
}

// person profile

// .person-profile {
//   width: 350px;
//   height: 400px;
// }
// .person-profile img {
//   height: 100%;
// }
