@import "./reset.scss";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

// header

.header {
  background: #062541;
  padding: 0.7rem 0;
  width: 100%;
  h1 {
    font-size: 24px;
  }
}
